@model IEnumerable<EducationAlarmDb.ForeignWord>

@{
    ViewBag.Title = "WordIndex";
}

<h2>WordIndex</h2>

<p>
    @Html.ActionLink("Add New", "AddWord")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Definintion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
   
        <td>
            @Html.DisplayFor(modelItem => item.Word)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Definintion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForeignWordId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForeignWordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForeignWordId })
        </td>
    </tr>
}

</table>
