@model IEnumerable<EducationAlarmDb.UserTime>
@using EducationAlarm.ViewModels;
@{
    ViewDbLookups db = new ViewDbLookups();
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("set new ", "AlarmSet")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.AlarmTime)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var activated = db.AlarmActivated(item.id);
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AlarmTime)
            </td>

            @{ if (activated == false || activated == null)
                {
                    <td> @Html.ActionLink("Activate Alarm", "ActivateAlarm", new { id = item.id })</td>
                }

                else
                {
                    <td>   @Html.ActionLink("Turn off alarm", "Subject", new { id = item.id })</td>
                }
            }
            <td>  @Html.ActionLink("Delete", "Delete", new { id = item.id })</td>

        </tr>
    }

</table>


