@{ if (ViewBag.Subject == "math")
    {
<style>
    .symbol{
        margin-bottom:40px;
        color:forestgreen;
        font-size:33px;
    }
</style>
    }
    else if(ViewBag.Subject == "language")
    {
<style>
    .symbol {
        margin-bottom: 180px;
        color: forestgreen;
        font-size: 33px;
    }
</style>
    }
    }
@{
    //Lanaguage needs a much bigger margin bottom then math
    <div class="symbol">@ViewBag.Symbol1</div>
    <div class="symbol">@ViewBag.Symbol2</div>
    <div class="symbol">@ViewBag.Symbol3</div>
    <div class="symbol">@ViewBag.Symbol4</div>
    

        if (ViewBag.Answered == false)
        {
            <p>Please answer all the questions</p>

        }
    }

<footer>@Html.ActionLink("Back to dashboard","Index")</footer>